body {
  background-color: lightblue;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1, h2 {
  color: white;
  text-align: center;
}

#contenedor-botones,
#contenedor-botones-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 20px;
}

.boton {
  padding: 10px 20px;
  border: none;
  background-color: #3498db;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.boton:hover {
  background-color: #2980b9;
}

footer {
  margin-top: 30px;
  color: white;
}