# Dependencias
node_modules/

# Variables de entorno (contiene tu contraseña de MongoDB)
.env

# Logs
npm-debug.log*
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Otros
dist/
build/