# Dependencias
node_modules/
dist/
build/

# Variables de entorno (¡MUY IMPORTANTE NO SUBIR ESTO!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Editor / IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos del Sistema Operativo
.DS_Store
Thumbs.db

# Temporales / Cache
.npm
.cache
.eslintcache